.sidebar {
  background-color: white;
  position: fixed;
  width: 72px;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 1001;
}

.button-sidebar {
  height: 72px;
  width: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .sidebar {
    width: 120px;
  }
  .button-sidebar {
    width: 108px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 12px;
  }

  .button-sidebar img { 
    margin-right: 5px;
  }
}

.button-sidebar:hover {
  background-color: rgb(229, 225, 225);
}

.button-sidebar img {
  width: 24px;
  margin-bottom: 5px;
}

.button-sidebar p {
  font-family: Roboto, Arial;
  font-size: 10px;
  color: black;
  margin: 0;
}